#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.form-login {
  background-color: rgb(29, 24, 19);
  border-radius: 5px;
  height: 30vh;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 30px;
  font-size: 15px;
}

.form-under {
  display: flex;
  text-align: left;
  justify-content: space-between;
  flex-direction: column;
  width: 50%;
  gap: 1rem;
}

.feedback {
  color: rgb(189, 75, 75);
  font-size: 0.8rem;
}